@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  background-image: url("image/donation1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
